@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Center</h1>
    <p class="lead">Modulo de facturación para mantenimiento de vehiculos automotores como carros y motocicletas a nivel nacional.</p>
    <p><a href="https://hoytrabajas.com/" class="btn btn-primary btn-lg">Leer mas... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Como iniciar</h2>
        <p>
            En la parte superior de la plataforma se encuentra un menú que permite parametrizar los datos necesarios para crear una nueva factura.
        </p>
        <p><a class="btn btn-default" href="https://hoytrabajas.com/">Leer más &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Nueva Factura</h2>
        <p>
            Este módulo permite seleccionar una serie de productos y servicios para el mantemiento de los vehiculos automotores (Carros y motocicletas).
        </p>
        <p><a class="btn btn-default" href="http://localhost:49998/Factura/InsertFactura">Crear Factura &raquo;</a></p>
    </div>
</div>